[project]
	description = library managerment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chhanna
[access "refs/for/refs/*"]
	read = group user/Chhanna
	push = group user/Chhanna
	label-Code-Review = -2..+2 group user/Chhanna
	label-Verified = -1..+1 group user/Chhanna
	rebase = group user/Chhanna
	removeReviewer = group user/Chhanna
	submit = group user/Chhanna
[access "refs/heads/*"]
	read = group user/Chhanna
	create = group user/Chhanna
	push = +force group user/Chhanna
	pushMerge = group user/Chhanna
[access "refs/tags/*"]
	push = +force group user/Chhanna
	pushTag = group user/Chhanna
	pushSignedTag = group user/Chhanna
